<!-- Page Content
================================================== -->
<div class="full-page-container with-map">

    <div class="full-page-sidebar hidden-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>

            <div class="sidebar-container">
                {% include 'template/job_listing_map/widget.twig' %}
            </div>
            <!-- Sidebar Container / End -->

            <!-- Search Button -->
            <div class="sidebar-search-button-container">
                <button class="button ripple-effect">Search</button>
            </div>
            <!-- Search Button / End-->

        </div>
    </div>
    <!-- Full Page Sidebar / End -->


    <!-- Full Page Content -->
    <div class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">

            <h3 class="page-title">Search Results</h3>

            <div class="notify-box margin-top-15">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span
                            class="switch-text">Turn on email alerts for this search</span></label>
                </div>

                <div class="sort-by">
                    <span>Sort by:</span>
                    <select class="selectpicker hide-tick">
                        <option>Relevance</option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Random</option>
                    </select>
                </div>
            </div>

            <div class="listings-container grid-layout margin-top-35">
               {% for job in job_list %}
                  {% set location = function('sjb_get_the_job_location', job.id ) %}
                  {% set job_type = function('sjb_get_the_job_type', job.id ) %}
                  {% set company = get_employer(job.post_author) %}
                <!-- Job Listing -->
                <a href="{{ job.link }}" class="job-listing">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">
                        <!-- Logo -->
                        <div class="job-listing-company-logo">
                        <img src="{{ company.image_url }}" alt="{{ company.display_name }}">
                        </div>

                        <!-- Details -->
                        <div class="job-listing-description">
                            <h4 class="job-listing-company">{{ company.display_name }}
                            {% if  company.status == 'approved' %}
                            <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
                            {% endif %}
                            <h3 class="job-listing-title">{{ job.post_title }}</h3>
                        </div>
                    </div>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                        <span class="bookmark-icon"></span>
                        <ul>
                            <li><i class="icon-material-outline-location-on"></i>{{ location.0.name }}</li>
                            <li><i class="icon-material-outline-business-center"></i>{{ job_type.0.name }}</li>
                            <li><i class="icon-material-outline-account-balance-wallet"></i> ${{ job.get_field('job_package_rate') }}</li>
                            <li><i class="icon-material-outline-access-time"></i>{{ job.date('F j Y') }}</li>
                        </ul>
                    </div>
                </a>
             {% endfor %}
            </div>

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="pagination-container margin-top-20 margin-bottom-20">
                <nav class="pagination">
                    <ul>
                         {% if job_list.pagination.prev %}
                        <li class="pagination-arrow"><a href="{{ job_list.pagination.prev.link}}" class="ripple-effect"><i
                                    class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                         {% endif %}
                         {% for page in job_list.pagination.pages %}
                        <li><a href="{{ page.link }}" class="ripple-effect {{page.class}}-page">{{page.name}}</a></li>
                        {% endfor %}
                        {% if job_list.pagination.next %}
                        <li class="pagination-arrow"><a href="{{ job_list.pagination.next.link}}" class="ripple-effect"><i
                                    class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->

        </div>
    </div>
    <!-- Full Page Content / End -->


    <!-- Full Page Map -->
    <div class="full-page-map-container">

        <!-- Enable Filters Button -->
        <div class="filter-button-container">
            <button class="enable-filters-button">
                <i class="enable-filters-button-icon"></i>
                <span class="show-text">Show Filters</span>
                <span class="hide-text">Hide Filters</span>
            </button>
            <div class="filter-button-tooltip">Click to expand sidebar with filters!</div>
        </div>

        <!-- Map -->
        <div id="map" data-map-zoom="12" data-map-scroll="true"></div>
    </div>
    <!-- Full Page Map / End -->

</div>


</div>
<!-- Wrapper / End -->