<div class="sidebar-widget">

					<h3>Latest Posts</h3>
					<ul class="widget-tabs">
                     {% for latest_post in latest %}
						<!-- Post #1 -->
						<li>
							<a href="{{ latest_post.link }}" class="widget-content active">
								<img src="{{ latest_post.thumbnail.src }}" alt="{{ latest_post.post_title }}">
								<div class="widget-text">
									<h5>{{ latest_post.post_title }}</h5>
									<span>{{ latest_post.date('F j Y') }}</span>
								</div>
							</a>
						</li>
                    {% endfor %}
			
					</ul>

				</div>